body {
  font-size: 1.5em;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav li a {
  font-size: 1.4em;
}

.link--active {
  color: red;
}

.movie-list {
  list-style: none;
  color: black;
}
.stopwatch { text-align: center }
.stopwatch-timer {
  font-size: 76px;
  font-weight: 100;
  line-height: 160px;
  
  margin: 0;
  
  border: solid #cecfd0;
  border-width: 1px 0;
  background-color: white;
}
